.App {
    text-align: center;
    background-color: #ccc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vmin;
    color: #000;
}

h3 {
    font-size: 1.6em;
}

p {
    margin: 0.3rem;
}
.imgg {
    min-width: 55vw;
    height: 50vh;
}
.highlight {
    color: #f00;
}

.updateDate {
    font-weight: bold;
    margin: 0 1em;
    width: calc(100% - 1em);
    text-align: left;
}
